.prepend-top {
  margin-top: 10px;  
}

.margin-top {
  margin-top: 50px;
}

.entrar {
  margin-top: -8px;
  margin-left: 20px;
}

.login {
  padding-bottom: 5px;
}

.center {
  margin: 0 auto;
  float: none;
}


.chat {
  background: #eee; 
  margin: 0; 
  font-size:  Tamanho da fontepx; 
  font-family: Fonte;
}

.chat .lines {
  margin-left: 0;
  background: #Cor do fundo;
  color: #Cor da fonte; 
  margin-bottom: 1px; 
  padding: 4px 5px 4px 5px;
}

.chat .lines span {
  font-weight: bold;
}
